<mat-card>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Student ID</mat-label>
          <input matInput readonly [value]="id">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Courses</mat-label>
            <mat-select [formControl]="coursesFormControl" multiple>
              <mat-option *ngFor="let course of courses" [value]="course">{{course}}</mat-option>
            </mat-select>
          </mat-form-field>
          <span [ngStyle]="{'color':'red'}">{{message}}</span>
    </form>    
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="UpdateCourses()">Update</button>
    </div>  
</mat-card>